/* line 44, ../sass/style.scss */
body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  font-size: .93em;
  letter-spacing: .15px;
}
/* line 52, ../sass/style.scss */
body #wrapper {
  padding-left: 250px;
}
/* line 23, ../sass/style.scss */
body #wrapper {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 55, ../sass/style.scss */
body #wrapper.toggled {
  padding-left: 80px;
}
/* line 57, ../sass/style.scss */
body #wrapper.toggled #sidebar-wrapper {
  width: 80px;
}
/* line 67, ../sass/style.scss */
body #wrapper.toggledmenu #sidebar-wrapper .sidebar-nav li {
  text-indent: 26px;
}
/* line 69, ../sass/style.scss */
body #wrapper.toggledmenu #sidebar-wrapper .sidebar-nav li i {
  font-size: 1.3em;
}
/* line 72, ../sass/style.scss */
body #wrapper.toggledmenu #sidebar-wrapper .sidebar-nav li span {
  display: none;
}
/* line 23, ../sass/style.scss */
body #wrapper.toggledmenu #sidebar-wrapper .sidebar-nav li span {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/* line 77, ../sass/style.scss */
body #wrapper.toggledmenu #sidebar-wrapper .sidebar-nav li.sidebar-brand {
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 1em;
  font-family: "PT Sans", sans-serif;
}
/* line 82, ../sass/style.scss */
body #wrapper.toggledmenu #sidebar-wrapper .sidebar-nav li.sidebar-brand a {
  color: #fff;
  text-decoration: none;
}
/* line 86, ../sass/style.scss */
body #wrapper.toggledmenu #sidebar-wrapper .sidebar-nav li.sidebar-brand a:hover {
  color: #FFF;
}
/* line 89, ../sass/style.scss */
body #wrapper.toggledmenu #sidebar-wrapper .sidebar-nav li.sidebar-brand i:nth-child(1) {
  display: none;
}
/* line 92, ../sass/style.scss */
body #wrapper.toggledmenu #sidebar-wrapper .sidebar-nav li.sidebar-brand i:nth-child(3) {
  display: inline;
}
/* line 99, ../sass/style.scss */
body #wrapper #sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow: hidden;
  background: #34495E;
}
/* line 23, ../sass/style.scss */
body #wrapper #sidebar-wrapper {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 110, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #E4F1FE;
}
/* line 115, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav a {
  color: #E4F1FE;
  display: block;
}
/* line 119, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav a:hover {
  text-decoration: none;
}
/* line 122, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li {
  text-indent: 40px;
  line-height: 40px;
}
/* line 125, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li:hover {
  background-color: #2C3E50;
  cursor: pointer;
}
/* line 129, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li i:nth-child(1) {
  display: inline;
}
/* line 132, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li ul {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #23384D;
}
/* line 138, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li ul a {
  text-decoration: none;
  line-height: 5px;
  color: #E4F1FE;
}
/* line 145, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li ul a:hover {
  color: #FFF;
}
/* line 146, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li ul a:hover li {
  background: #23384D;
}
/* line 153, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li ul.toggled {
  display: block;
}
/* line 157, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li.toggled {
  background-color: #2C3E50;
}
/* line 160, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li.sidebar-brand {
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: 'PT Sans', sans-serif;
}
/* line 166, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li.sidebar-brand:hover {
  background-color: #34495E;
  cursor: default;
}
/* line 170, ../sass/style.scss */
body #wrapper #sidebar-wrapper .sidebar-nav li.sidebar-brand i:nth-child(3) {
  display: inline-block;
  cursor: pointer;
}
/* line 179, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-table .container {
  padding: 0 50px;
  margin: 0;
  width: 100% !important;
}
/* line 38, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-table .container {
  -webkit-box-shadow: 0 0 0.7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0.7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.7px rgba(0, 0, 0, 0.1);
}
/* line 187, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-table-title {
  color: #FFF;
  padding: 0 50px;
}
/* line 38, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-table-title {
  -webkit-box-shadow: 0 0 0.7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0.7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.7px rgba(0, 0, 0, 0.1);
}
/* line 191, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-table-title .container {
  text-transform: lowercase !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
}
/* line 197, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-table-title .container .row .col:first-letter {
  text-transform: capitalize !important;
}
/* line 201, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-table-title .container .row .col a {
  color: #FFF !important;
}
/* line 203, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-table-title .container .row .col a i {
  text-decoration: none;
}
/* line 213, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-title {
  padding: 10px 25px;
  color: #FFF;
}
/* line 217, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-circle-title {
  font-size: 21px;
  float: left;
  padding: 0 10px;
  display: block;
  margin-left: 15px;
  line-height: 1.1;
  overflow: hidden;
}
/* line 226, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-circle-subtitle {
  font-size: 12px;
  float: left;
  padding: 0 11.5px;
  display: block;
  margin-left: 15px;
  overflow: hidden;
}
/* line 234, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget-circle {
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color: #FFF;
}
/* line 246, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget {
  padding: 15px 25px;
  width: 100%;
  margin-bottom: 15px;
}
/* line 31, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.1);
}
/* line 252, ../sass/style.scss */
body #wrapper #page-content-wrapper .widget:after {
  content: '';
  display: block;
  clear: both;
}
/* line 257, ../sass/style.scss */
body #wrapper #page-content-wrapper .bg-white {
  background: #FFF;
}
/* line 260, ../sass/style.scss */
body #wrapper #page-content-wrapper .bg-softred {
  background: #EC644B;
}
/* line 263, ../sass/style.scss */
body #wrapper #page-content-wrapper .bg-greeny {
  background: #87D37C;
}
/* line 266, ../sass/style.scss */
body #wrapper #page-content-wrapper .bg-yellowplane {
  background: #F5D76E;
}
/* line 269, ../sass/style.scss */
body #wrapper #page-content-wrapper .bg-sky {
  background: #1E8BC3;
}
/* line 272, ../sass/style.scss */
body #wrapper #page-content-wrapper .bg-junglegreen {
  background: #26C281;
}
/* line 275, ../sass/style.scss */
body #wrapper #page-content-wrapper .transparent-bg-junglegreen:nth-child(even) {
  background: rgba(38, 194, 129, 0.15);
}
/* line 278, ../sass/style.scss */
body #wrapper #page-content-wrapper .transparent-bg-softred:nth-child(even) {
  background: rgba(236, 100, 75, 0.15);
}
/* line 281, ../sass/style.scss */
body #wrapper #page-content-wrapper .transparent-bg-greeny:nth-child(even) {
  background: rgba(135, 211, 124, 0.15);
}
/* line 284, ../sass/style.scss */
body #wrapper #page-content-wrapper .transparent-bg-yellowplane:nth-child(even) {
  background: rgba(245, 215, 110, 0.15);
}
/* line 287, ../sass/style.scss */
body #wrapper #page-content-wrapper .transparent-bg-sky:nth-child(even) {
  background: rgba(30, 139, 195, 0.15);
}
/* line 290, ../sass/style.scss */
body #wrapper #page-content-wrapper .bg-violet {
  background: #674172;
}
/* line 293, ../sass/style.scss */
body #wrapper #page-content-wrapper .bg-grapefruit {
  background: #F64747;
}
/* line 296, ../sass/style.scss */
body #wrapper #page-content-wrapper .bg-grey {
  background: #777;
}
/* line 299, ../sass/style.scss */
body #wrapper #page-content-wrapper .titlebar {
  background: #FFF;
  padding: 20px 30px;
  color: #777;
}
/* line 31, ../sass/style.scss */
body #wrapper #page-content-wrapper .titlebar {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.1);
}
/* line 304, ../sass/style.scss */
body #wrapper #page-content-wrapper .titlebar p {
  margin: 0;
}
/* line 308, ../sass/style.scss */
body #wrapper #page-content-wrapper .col-lg-12 {
  padding: 40px;
}
/* line 310, ../sass/style.scss */
body #wrapper #page-content-wrapper .col-lg-12 .row {
  padding: 12.5px 0;
}
/* line 313, ../sass/style.scss */
body #wrapper #page-content-wrapper .col-lg-12 label {
  padding: 0 5px;
}
/* line 316, ../sass/style.scss */
body #wrapper #page-content-wrapper .col-lg-12 .form-inline {
  padding: 15px 0;
}
/* line 319, ../sass/style.scss */
body #wrapper #page-content-wrapper .col-lg-12 .col-content {
  background: #FFF;
}
/* line 322, ../sass/style.scss */
body #wrapper #page-content-wrapper .col-lg-12 .pagination {
  padding: 15px 0;
  text-align: center;
  margin: 0 auto;
  width: 384px;
}
